<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Participate in a project or ctf</h2>
		<hr class="bar"/>
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<!--<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/college.svg" alt="Picture"/>
			</div>
			<div class="cd-timeline-content">
				<h2 class="story-heading">NUI Computer Science</h2>
				<P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.</P>
				<span class="cd-date">2010-2014</span>
			</div>
		</div>-->
			<!--<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-movie">
					<img src="../assets/img/idea14.svg" alt="College"/></div>
					<div class="cd-timeline-content">
						<h2>Enterprise Competition Runner-up</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.</p>
						<span class="cd-date">April 2014</span>
					</div>
				</div>
					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<img src="../assets/img/web-programming.svg" alt="Picture"/>
						</div>
						<div class="cd-timeline-content">
							<h2>Software Developer</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.</p>
							<span class="cd-date">May 2013 - September 2014</span>
						</div>
					</div>-->
						<div class="cd-timeline-block">
							<div class="cd-timeline-img cd-location">
								<img src="../assets/img/web-programming.svg" alt="Location"/>
							</div>
							<div class="cd-timeline-content">
								<h2>2020 사이버작전 경연대회</h2>
								<p>현재 2020 사이버 작전 신청완료</p>
								<span class="cd-date">2020-08-22</span>
							</div>
						</div>
						<div class="cd-timeline-block">
							<div class="cd-timeline-img cd-location">
								<img src="../assets/img/web-programming.svg" alt="Location"/>
							</div>
							<div class="cd-timeline-content">
								<h2>HackersPlayground</h2>
								<p>삼성 sstf 2020 강의 참여후 삼성에서 열리는 hackersplayground ctf 에서 문제를 풀려고 했지만 지식이 부족한 관계로 티오리 회사에서 제공한 hackersplayground 문제 풀이본 후 문제 분석
									<br>
									<a href="https://github.com/theori-io/ctf/blob/master/SSTF%20CTF%202020%20Write%20Up%20-%20The%20Duck.pdf">hackersplayground 풀이 pdf</a>
								</p>
								<span class="cd-date">2020-8-18</span>
							</div>
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-location">
									<img src="../assets/img/question30.svg" alt="Location"/>
								</div>
							</div>
						</div>
					</section>
					<div class="cd-timeline-header">
						<h2></h2>
					</div>
				</div>